
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto Condensed", sans-serif;

}
.button{
    border:1px solid black;
    outline:none;
    padding:5px 4px!important;
}
#first-text{
    font-size:30px;
}
.collection{
    width:90%;
    margin:30px auto;
    display:flex;
    flex-wrap: wrap;
    gap:20px 0;
}
.card-image img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.card{
    font-family: "Roboto Condensed", sans-serif;
    
    height:289px;
    background:#50dd6814;
    width:auto;
    margin:0 9px;
}
.card>*{

    margin:3px 10px;
}
.card-image{
    width:80%;
    height:60%;
    margin:7px auto;
    border-radius:30px;
}
.c-buttons button{
    border:1px solid black;
    border-radius:15px;
    padding:5px 7px;
}
.c-buttons button:hover{
    background:rgb(78, 202, 78);
}
.card-header h1{
    font-size: 25px !important;
    font-weight:500;
}